parameters:
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
		- '#^Method Zorachka\\Container\\Tests\\Datasets\\DefinitionsIsNotCallableServiceProvider\:\:getDefinitions\(\) should return array\<string, callable\(\)\: mixed\> but returns array\{stdClass\: stdClass\}\.$#'
		- '#^Method Zorachka\\Container\\Tests\\Datasets\\ExtensionsIsNotCallableServiceProvider\:\:getDefinitions\(\) should return array\<string, callable\(\)\: mixed\> but returns array\{stdClass\: stdClass\}\.$#'
